<h1>About me</h1>

<hr>

<div class="row">

  <div class="col-cm-4">
    <%= image_tag "hidehide.jpg", width: 400, alt: "Portfolio Image" %>
  </div>

  <div class="col-cm-8">
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>

</div>


