<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>
    <div class="row">
      <div class="col-md-6 contact-info">
        <h3>Office Address</h3>
        <p>sibuya DT building 6F, Dogenzaka 1-16-10, Shibuya, Tokyo</p>

        <h3>Phone</h3>
        <p>03-6455-2067</p>

        <h3>Email</h3>
        <p><a href="mailto:h.horie@hupro-inc.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.827071535578!2d139.6951333152521!3d35.656631980200096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b56663f1dd3%3A0xc4fecfcc25507281!2z44CSMTUwLTAwNDMg5p2x5Lqs6YO95riL6LC35Yy66YGT546E5Z2C77yR5LiB55uu77yR77yW4oiS77yR77yQIOa4i-iwt--8pO-8tOODk-ODqw!5e0!3m2!1sja!2sjp!4v1578722981080!5m2!1sja!2sjp" width="350" height="350" frameborder="0" style="border: 1px solid #00B9BE;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>